*.out
*.log
*.dot
*.bc
*_AI.c
*.o
*.exe
*.run
*.so
*.swp
bin/
inputs/
data/
Outputs/
setparams
output.txt
bfs
bfs_offload
result.txt
density
density_energy
euler3d_cpu
euler3d_cpu_double
momentum
heartwall
hotspot
3D

